p {
	text-decoration: underline;
    color: black;
}
h2 {
	text-decoration: overline;
    color: red;
}
h3 {
	text-decoration: line-through;
    color: green;
}
a {
  color: red;
  text-decoration: none;
}