body {
    width: 400px;
    text-align: left;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: green;
    text-align: center;
    font-size: 30px;
}

p {
    text-indent: 50px;
}

i {
    color: green;
    font-style: italic;
}

li {
    list-style-position: outside;
    padding-left: 1em;
    text-indent: -1em;
    margin-left: 20px;
}

ul {
    padding-left: 30px;
}

b {
    font-weight: bold;
}