/* Практика на выравнивание текста в CSS */
h1 {
  text-align: right;
}
h2 {
  text-align: center;
}
table {
  width: 500px;
}
th {
  text-align: left;
}
td {
  text-align: center;
}
p {
  width: 300px;
}
h2 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* текст для задания в 2.html */
p {
	text-indent: 50px;
}