div {
    width: 600px;
    text-align: justify;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    line-height: 1.6;
}

.float-left {
    float: left;
    margin: 0 15px 15px 0;
    width: 200px;
    height: auto;
}

.float-right {
    float: right;
    margin: 15px 0 15px 15px;
    width: 200px;
    height: auto;
}
